#### In this notebook I am going to use weight and height data set(already used for bayes rule in class) to do Classification. I am going to use logistic regression and Knn to compare their performance.

In [64]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
import seaborn as sns
from pandas.api.types import CategoricalDtype
import statsmodels.formula.api as smf
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import math
from sklearn.utils import resample
from sklearn import neighbors
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression

In [65]:
df = pd.read_csv('weight-height.csv')

In [66]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [32]:
#df['Gender'].replace('Male',0,inplace=True)
#df['Gender'].replace('Female',1,inplace=True)

In [67]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [68]:
df['Gender'].value_counts()

Male      5000
Female    5000
Name: Gender, dtype: int64

In [69]:
X = df.drop(['Gender'], axis=1)
y = df[['Gender']]

In [70]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)

In [71]:
logreg = LogisticRegression()

In [72]:
logreg.fit(X_train,y_train)

/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [73]:
y_pred = logreg.predict(X_test)

In [74]:
print('accuracy:' ,metrics.accuracy_score(y_pred,y_test))

accuracy: 0.918

In [75]:
print('accuracy:',classification_report(y_pred,y_test))

accuracy:              precision    recall  f1-score   support

     Female       0.92      0.92      0.92      1501
       Male       0.92      0.92      0.92      1499

avg / total       0.92      0.92      0.92      3000

In [76]:
knn = neighbors.KNeighborsClassifier(n_neighbors=10)

In [77]:
knn.fit(X_train,y_train)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=10, p=2,
           weights='uniform')

In [78]:
y1_pred = knn.predict(X_test)

In [79]:
print('accuracy:',metrics.accuracy_score(y1_pred,y_test))

accuracy: 0.9133333333333333

In [80]:
print('accuracy:',classification_report(y1_pred,y_test))

accuracy:              precision    recall  f1-score   support

     Female       0.93      0.90      0.91      1539
       Male       0.90      0.92      0.91      1461

avg / total       0.91      0.91      0.91      3000

The results show that KNN has better accuracy in Female category.